<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996151554218-emkschnlufqb5vk9uc5g3l57glke1v56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996151554218-emkschnlufqb5vk9uc5g3l57glke1v56</string>
	<key>API_KEY</key>
	<string>AIzaSyBJHwN7-3GDAfm_ywr-c1Dl2o-XexNx09w</string>
	<key>GCM_SENDER_ID</key>
	<string>996151554218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-741f4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-741f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996151554218:ios:81777770a36ff7b63c20d3</string>
</dict>
</plist>